
$white: #fff; 
$white-100: #f5f0f0;   


$gray-500: #EEEEEE;  //bright gray
$gray-700: #c2c0c0;
$gray-900: #726b6b;


$green-500: #32E0C4;  //turquoise
$green-700: #03d4b2;
$green-900: #00c0a0;

$bluegreen-500: #22d2d8;
$bluegreen-700: #119196;
$bluegreen-900: #0D7377;  // Skobeloff

$black-700: #212121; //raisin black
$black-900: #000; //raisin black